<h1>Listing BMI</h1>
<p id="notice"><%= flash[:notice] %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%=render partial: 'bmi' ,collection: @bmis, as: :bmi %>
  </tbody>
</table>


<br>

<%= link_to 'New Bmi', new_bmi_path %>
